/* styles.css */

/* Style for checkboxes */
.checkbox-label {
    display: block;
    margin-bottom: 8px;
  }
  
  .checkbox-input {
    margin-right: 8px;
    /* Customizing checkbox appearance */
    width: 1rem;
    height: 1rem;
    border: 2px solid green; /* Set border color to green */
    /* Set background color to green when checkbox is checked */
  }
  
  .checkbox-input:checked {
    color: green;
  }
  
  /* Font style */
  .pdf-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  /* Style for download button */
  .download-button {
    /* Add your custom styles for the download button here */
  }
  
  /* Style for edit button */
  .edit-button {
    /* Add your custom styles for the edit button here */
  }
  